

.header {
	display: none;
}

#editmenu{
	position: absolute;
	width:0px;
	height:100%;
	background-color: yellow;
	z-index: 2000;
	right:0;
}


.addProjectForm {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 10px;
	display:none;
}	

#addProject {
	background-image: url('../img/addProject_m.svg');  
	margin: 30px auto;
	margin-bottom: 30px;
	width: 44px; 
	height: 44px; 
}


#addProject:hover {
	background-image: url('../img/addProject_m_hover.svg');  	
}


button {
	background: #FFF;
	background-image: url('../img/ok_m@2x.png');  
	background-size: 100% auto;
	background-repeat: no-repeat;
	border: 0px solid #F1734B;
	border-radius: 2px;
	width:23px;
	margin: 30px auto;
	color: transparent;
}

input[type=text],
input[type=password] {
	font-family: "Avenir Next";
	background: transparent;
	border: 1px solid #d1d1d1;
	height: 44px;
	border-radius: 2px;
	font-size: 16px;
	padding: 0 0 0 12px;
	width: 90%;
	margin: 0 auto 20px auto;	
	-webkit-appearance: none;
}

input[type=submit] {
	margin-left: 10px;
	width: 90%;
}

.project-list {
	width:100%;
}

.project-list-item {
	width: 100%;
	height:82px;
	font: 27px/22px "AvenirNext-Medium";
	color:#F4F4F4;
	text-align: left;
	padding:20px;
	background-repeat: no-repeat;
	background-position: left center;
	background: rgba(0, 0, 0, 0.45);
	background-size: 100% auto;
}

.node-amount {
	font: 18px/32px "AvenirNext-Regular";
}

.item-info{
	width:100%;
	line-height: 24px;
}

.item-info span {
	font-size: 14px;
}


.navigation {
	top:auto;
	bottom: 20px !important;
	width: 100%;
}

.index {
	left: 38%;
	position: absolute;
	bottom: 8px;
}

#markdownhelp {
	display: none;
}

.save, .addPost {
	background-image: url('../img/ok_m@2x.png');  
	background-size: 100% auto;
	background-repeat: no-repeat;
	border: 0px solid #F1734B;
	border-radius: 2px;
	width:23px;
	color: transparent;
	position: relative;
	margin-right: 70px;
	height:38px;
}

.discardAdd, .discardUpdate {
	background-image: url('../img/no_m@2x.png');  
	background-size: 100% auto;
	background-repeat: no-repeat;
	border: 0px solid #F1734B;
	border-radius: 2px;
	width:20px;
	color: transparent;
	position: relative;
	margin-left: 70px;
	height:38px;
	cursor: pointer;
	display: inline-block;
}

progress {
	top:0px;
}

/* project page */

#project {
	width:100%;
	margin-top: 30px;
}
.c3 {
	padding:0;
	z-index: 2;
	position: relative;
	background-color: #fff;
}

.edit-mode{
	display: none;
}

.c3edit {
	padding: 0px;
	width: 100%;
	background-color: #fff;
}

#newMarkdown{
	position: absolute;
	top:65px;
	margin: 0px;
	height: 150px;
	z-index: 1009;
}

#holder {
	background-color: #fff; 
	background-image: url('../img/addProject_m.svg');    background-size: 100% 100%;
 	width: 44px; 
 	height: 44px; 
 	margin: 0 auto;
	margin-bottom: 40px;
 }
	
#holder img {
	height:100%;
	width:100%;
    border-radius: 50%;
    display: block;
}

.date {
	font: 14px/0px "AvenirNext-Medium";
	color: rgba(156,156,156,0.45);
	display: block;
	text-transform: uppercase;
	margin-bottom: 24px;
	text-align: left;
	padding-left: 35px;
	padding-right: 35px;
}

.content {
	text-align: left;
	
	padding-left: 35px;
	padding-right: 35px;
	font: 18px/22px "AvenirNext-Regular";

}

#mobilephotoupload {
	background-color: #81DCDD;
	height:65px;
	background-image: url('../img/camera@2x.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 23px;
}

.editareafield {
	margin-top: 0px;
}

.mobile{
	display: block !important;
	overflow: hidden;
}


#uup {
	-webkit-appearence: none;
	overflow: hidden;
}


#upload {
	position: absolute;
	overflow: hidden;
	width:100%;
	height:65px;
	background-color: yellow;
	top:0;
	z-index: 3;
}

#upload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
	width:100%;
	height:65px;
}

#uud{
	background-color: red; width:100px;
}

.cameraupload{
	background-color: #81DCDD;
	height:65px;
	background-image: url('../img/camera@2x.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 23px;
	display: block;
}

.snap-drawers {
	display: block;
	position: relative;
	top: 24px;
	right: 0;
	bottom: 0;
 	left: 0;
	width: auto;
	background-color: yellow;
}

.snap-drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;

	-webkit-overflow-scrolling: touch;
	-webkit-transition: width 0.3s ease;
	-moz-transition: width 0.3s ease;
	-ms-transition: width 0.3s ease;
	-o-transition: width 0.3s ease;
	transition: width 0.3s ease;
}

.snap-drawer-left {
	left: 0;
	z-index: 1;
}

.snap-drawer-right {
	right: 0;
	z-index: 1;
	text-align: right;
}

.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
	display: none;
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
	width: 100%;
}


.m-sub{
	width:100%;
	height:100px;
	float: right;
}

.e {
	background-color: #81DCDD;
	background-image: url('../img/pen@2x.png');  
	background-size: 7% auto;
	background-repeat: no-repeat;
	background-position: right+17px center;
	margin-right: 0;
}

.d {
	background-color: #F1734B;
	clear:both;
	background-image: url('../img/x@2x.png');  
	background-size: 7% auto;
	background-repeat: no-repeat;
	background-position: right+17px center;
}

.row {
	margin-top: 0;
}

h1, h2, h3 {
	margin-bottom: .5em;
}

p {
	line-height: 1.5em;
}

.p_actions {
	display: none;
}

.loginform {
	width: 100%;
}
